.waiting-room .user {
    position: relative;
    width: 128px;
    height: 128px;
}

.waiting-room .user img {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
}

.waiting-room .user .name {
    position: relative;
    z-index: 1;
}

.waiting-room .user.remote img {
    background: #eee;
    border: 4px solid #9A9A9A;
    border-radius: 8px;
}

.waiting-room .user.joined img {
    background: #e3f3e3;
    border: 4px solid #84c584;
    border-radius: 8px;
}

.waiting-room .user.remote:before {
    content: 'Remote';
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 1;
    color: #aaa;
}

.waiting-room .user.joined:before {
    content: 'Local';
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 1;
    color: #84c584;
}

.waiting-room .user .name {
    text-align: center;
}

.board {
    margin: auto;
    border: 1px solid #e5e5e5;
}

.board td {
    position: relative;
    display: inline-block;
}

.board td {
    border: 1px solid #e5e5e5;
}

.tile {
    position: relative;
    z-index: 1;
    background-color: #222222;
    border: 4px solid #222222;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 4px solid #ffffff00;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.tile svg.w100 {
    height: 100%;
    width: 100%;
    padding: 20%;
}

.tile.pending {
    background-color: #5e5e5e;
    border-color: #363636;
}

.tile.error {
    background: repeating-linear-gradient(45deg, #5e5e5e, #5e5e5e 10px, #eb0000 10px, #eb0000 20px);
}

.green {
    color: #1bb62a;
}

.red {
    color: #ff0000;
}

.yellow {
    color: #fff200;
}

.orange {
    color: #ffa200;
}

.purple {
    color: #6816ff;
}

.blue {
    color: #1e6aff;
}

.card.active {
    border: 4px solid #ffc212;
}

.hover.green .tile, .hover.green .placeholder {
    border-color: #1bb62a;
}

.hover.red .tile, .hover.red .placeholder {
    border-color: #ff0000;
}

.hover.yellow .tile, .hover.yellow .placeholder {
    border-color: #ffc212;
}

.hover.blue .tile, .hover.blue .placeholder {
    border-color: #1e6aff;
}

.toast-container {
    z-index: 2;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    border: 1px solid #9A9A9A;
    border-radius: 4px;
}

.footer .hand {
    text-align: center;
    margin: 10px auto 0;
}

.footer .hand .holder {
    display: inline-block;
    height: 80px;
    width: 80px;
}

.footer .hand .holder.selected {
    position: relative;
    top: -40px;
}

#play-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#play-overlay .play {
    position: absolute;
    color: #afafaf;
    font-size: 24px;
    cursor: pointer;
}

#play-overlay .play.left {
    left: -20px;
}

#play-overlay .play.right {
    right: -20px;
}

#play-overlay .play.up {
    top: -28px;
}

#play-overlay .play.down {
    bottom: -28px;
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cccccc69;
    text-align: center;
}

.game-over div {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 24pt;
}
