<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header>
    <title>Error | Qwirkle</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/game.css" rel="stylesheet"/>
</header>
<body class="bg-light">

<div class="container">
    <main>

        <div class="py-5 text-center">
            <h2>Qwirkle</h2>
            <p>This game doesn't exist. You can go back and try again, or create a new game.</p>
            <a class="btn btn-primary" href="new">Go back</a>
        </div>

    </main>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
</body>
</html>
